Repository HenryNovoa/202305-sw-arch-initial-kata-group-3: changes, and which lint-staged commands are due for each by the changed paths.
All: This file is used to run commands when files that are staged are to be commited, eslint, prettier --write

remove comment from .listagedrc.json
  .lintstagedrc.json
Due: prettier --write

change husky files to sh
  .husky/commit-msg.sh
  .husky/pre-commit.sh
  .husky/pre-push.sh
Due: none

change husky files to sh
  src/index.test.ts
  src/index.ts
Due: eslint, prettier --write

rechange file name to test husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

switch audit.yml file to checkoutv3 from v3
  .github/workflows/audit.yml
Due: none

add pre-commit config
  .husky/commit-msg
  .husky/pre-commit
Due: none

change eslintrc file
  .eslintrc.cjs
Due: none

change index.ts file
  src/index.test.ts
  src/index.ts
Due: eslint, prettier --write

changes to commit-msg and add prettier
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

change number of max message to 10
  .husky/commit-msg
  .husky/pre-push
Due: none

add new line for sonar audit
  .editorconfig
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  sonar-project.properties
Due: none

turn ticket kata
  src/index.test.ts
  src/index.ts
  src/ticket-dispenser.test.ts
  src/ticket-dispenser.ts
  src/turn-number-sequence.ts
  src/turn-ticket.ts
Due: eslint, prettier --write

interfaces to their own folder
  .eslintrc.json
  src/interfaces/dispenser.ts
  src/interfaces/sequence.ts
  src/interfaces/ticket.ts
  src/ticket-dispenser.test.ts
  src/ticket-dispenser.ts
  src/turn-number-sequence.ts
  src/turn-ticket.ts
Due: eslint, prettier --write

Path conditions:
  This file is used to run commands when files that are staged are to be commited: any of: ------
  eslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,json,md}
